numpy >= 1.19.1
scipy >= 1.5.0
joblib >= 0.16.0
scikit-learn == 1.3.2
giotto-ph >= 0.2.1
pyflagser >= 0.4.3
igraph >= 0.9.8
plotly < 6.0.0
ipywidgets >= 7.5.1
jupyter
pandas
fastai
eccore
giotto-tda
umap-learn
